---
layout: detail-edition
title: Become a Sponsor
permalink: /sponsorships
---
{% include _nav.html %}
{% include _hero-sponsor-editions.html %}
{% include _sponsors-hero.html %}
<section id="the-sponsor" class="py-5">
    <div class="container py-0 py-lg-5">
        <div class="mb-5">
          <p class="fs-4" style="text-indent: 1em;">
              At Scala Days, it’s our goal to showcase as many companies using Scala and within the Scala ecosystem as possible at the conference alongside hundreds of local attendees and top Scala experts from around the world.
              By becoming a sponsor, you have a unique opportunity to position your brand at the forefront of innovation while supporting a vibrant and inclusive community.
              With a range of flexible sponsorship options, you’ll have the chance to create lasting connections, showcase your brand, and contribute to the growth of the Scala ecosystem.
          </p>
          <p class="fs-4" style="text-indent: 1em;">
              As well as the snapshot of sponsorship options below, we offer additional opportunities including the sponsorship of scholarships, colocated events, onsite daycare, and more!
          </p>
        </div>

        <hr class="my-5">

        <div class="table-responsive">
            <table class="table text-center">
              <thead>
                <tr>
                  <th class="align-top" style="width: 34%;">
                    <h4 class="fs-3 text-start mt-3">Sponsorship Packages</h4>
                </th>
                  <th class="align-top" style="width: 22%;">
                    <img src="{{ site.baseurl }}/img/assets/icon-platinum.svg" alt="">
                    <h4 class="text-uppercase mb-0 mt-2">Platinum</h4>
                    <span class="fw-normal mb-3 d-block">3 spots available</span>
                </th class="align-top">
                  <th style="width: 22%;">
                    <img src="{{ site.baseurl }}/img/assets/icon-gold.svg" alt="">
                    <h4 class="text-uppercase mb-0 mt-2">Gold</h4>
                    <span class="fw-normal mb-3 d-block">10 spots available</span>
                </th>
                 <th class="align-top" style="width: 22%;">
                    <img src="{{ site.baseurl }}/img/assets/icon-silver.svg" alt="">
                    <h4 class="text-uppercase mb-0 mt-2">Silver</h4>
                    <span class="fw-normal mb-3 d-block">-</span>
                </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="text-start">Complementary conference passes</th>
                  <td class="active">5</td>
                  <td class="active">3</td>
                  <td class="active">2</td>
                </tr>
               <tr>
                  <th scope="row" class="text-start">Discount on additional full priced passes</th>
                  <td class="active">25%</td>
                  <td class="active">15%</td>
                  <td class="active">7%</td>
                </tr>
               <tr>
                  <th scope="row" class="text-start">Discount on full priced workshop passes</th>
                  <td class="active">20%</td>
                  <td class="active">10%</td>
                  <td class="active">5%</td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Inclusion in social media communications pre, during, and post conference</th>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                </tr>
              </tbody>

              <tbody>
                <tr>
                  <th scope="row" class="text-start">Logo on website</th>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Large logo on conference banner, digital communication (e.g videos), T-shirts, and swag bags</th>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                  <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                  <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                </tr>
                <tr>
                  <th scope="row" class="text-start">Exhibition booth space</th>
                  <td class="align-middle active">Double</td>
                  <td class="align-middle active">Single</td>
                  <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                </tr>
                <tr>
                    <th scope="row" class="text-start">Standard technical talk, 45min (limited spaces)</th>
                    <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                    <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                    <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-start">Talk will be recorded and published on Scala Days YouTube Channel</th>
                    <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                    <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                    <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-start">Lead a panel (keynote slot) or additional technical talk</th>
                    <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                    <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                    <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-start">Brand a major social activity</th>
                    <td class="align-middle active"><img src="{{ site.baseurl }}/img/assets/icon-check.svg" alt=""></td>
                    <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                    <td class="align-middle"><img src="{{ site.baseurl }}/img/assets/icon-empty.svg" alt=""></td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-md-7 mx-auto">
                <p class="fs-4 mt-5 text-center">If you are interested in our sponsorship packages and would like more information, please send an email to the Scala Days team using the button below.</p>
                <div class="d-flex justify-content-center align-items-center">
                  <a class="btn btn-primary btn-lg" href="mailto:info@scaladays.org">Contact us</a>
                </div>
            </div>
          </div>

    </div>
</section>
