<header id="hero" class="vh-100 d-flex align-items-center justify-content-center text-center text-white">
    <div class="cover-image tickets z-0 hero-zoom"></div>
    <div class="cover-gradient z-1"></div>
    <div class="cover-shape z-2">
      <img src="{{ site.baseurl }}/img/assets/hero-shape.svg" alt="">
    </div>
    <div class="container" data-aos="fade-down">
      <div class="row">
        <div class="col-lg-8 mx-auto position-relative z-3">
          <h1 class="display-2 fw-bold">{{page.title}}</h1>
          <h2 class="fw-bold mb-4">{{ site.data.conference.ticket-hero-description}}</h2>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="#tickets">{{ site.data.conference.ticket-hero-cta}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute bottom-0 pb-4 hero-arrow">
      <a href="#tickets">
        <img src="{{ site.baseurl }}/img/assets/icon-arrow.svg" alt="">
      </a>
    </div>
  </header> 