<div class="modal fade" id="wip-modal" tabindex="-1" aria-labelledby="wip-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="wip-modal-label">Coming soon!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p>The schedule will be available by the beginning of June. Subscribe to our email list for the latest updates.</p>
            </div>  
        </div>
    </div>
</div>