<section id="pricetable" class="py-5">
  <div class="container py-0 py-lg-5">
     
      <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th class="align-top" style="width: 20%;">
                  <h4 class="fs-3 text-start mt-3">Ticket Options</h4>
              </th>
              </th class="align-top">
                <th style="width: 20%;">
                  <h4 class="text-uppercase mb-0 mt-2">Super Early Bird</h4>
                  <span class="fw-normal mb-3 d-block">Price ends on April 4.</span>
              </th>
               </th class="align-top">
                <th style="width: 20%;">
                  <h4 class="text-uppercase mb-0 mt-2">Early Bird</h4>
                  <span class="fw-normal mb-3 d-block">Price ends on May 26.</span>
              </th>
              <th style="width: 20%;">
                  <h4 class="text-uppercase mb-0 mt-2">Standard</h4>
                  <span class="fw-normal mb-3 d-block">Price ends on August 12.</span>
              </th>
              <th style="width: 20%;">
                  <h4 class="text-uppercase mb-0 mt-2">Late Bird</h4>
                  <span class="fw-normal mb-3 d-block">Price ends on August 21.</span>
              </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">Conference ticket</th>
                <td class="inactive">CHF 750</td>
                <td class="active">CHF 850</td>
                <td class="inactive">CHF 950</td>
                <td class="inactive">CHF 1050</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Workshop ticket</th>
                <td class="align-middle inactive">CHF 600</td>
                <td class="align-middle active">CHF 700</td>
                <td class="align-middle active">CHF 800</td>
                <td class="align-middle active">CHF 900</td>
              </tr>
            </tbody>
    
            <tbody>
              <tr>
                <th scope="row" class="text-start">Bundle (Conference + Workshop) ticket</th>
                <td class="align-middle inactive">CHF 1200</td>
                <td class="align-middle active">CHF 1395</td>
                <td class="align-middle active">CHF 1490</td>
                <td class="align-middle active">CHF 1755</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Student Conference Ticket</th>
                <td class="align-middle inactive">CHF 400</td>
                <td class="align-middle active">CHF 400</td>
                <td class="align-middle active">CHF 400</td>
                <td class="align-middle active">CHF 400</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">One-Day Conference Ticket</th>
                <td class="align-middle inactive">CHF 560</td>
                <td class="align-middle active">CHF 560</td>
                <td class="align-middle active">CHF 560</td>
                <td class="align-middle active">CHF 560</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-7 mx-auto">
              <div class="d-flex justify-content-center align-items-center">
                <p>Ticket prices are detailed in Swiss Franc (CHF) and <b>include</b> VAT.</p>
              </div>
          </div>
        </div>
      
  </div>
</section>
