<section id="pricetable" class="py-5">
  <div class="container py-0 py-lg-5">
    <div class="row mb-5">
      <div class="col-md-8">
          <span class="text-primary text-uppercase fw-bold mb-2 d-inline-block">{{
              site.data.conference.pricetable-subtitle }}</span>
          <h2 class="mb-0">{{ site.data.conference.pricetable-title }}</h2>
      </div>
  </div>
      <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th class="align-top" style="width: 50%;">
                  <h4 class="fs-3 text-start mt-3">Ticket <br>Options</h4>
              </th>
              </th class="align-top">
                <th style="width: 50%;">
                  <img src="{{ site.baseurl }}/img/assets/icon-gold.svg" alt="">
                  <h4 class="text-uppercase mb-0 mt-2">Price</h4>
                  <span class="fw-normal mb-3 d-block">Early bird tickets on sale until April 4th</span>
              </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row" class="text-start">Conference ticket</th>
                <td class="active">CHF 750</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Workshop ticket</th>
                <td class="align-middle active">CHF 600</td>
              </tr>
            </tbody>
    
            <tbody>
              <tr>
                <th scope="row" class="text-start">Bundle (Conference + Workshop) ticket</th>
                <td class="align-middle active">CHF 1200</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">Student Conference Ticket</th>
                <td class="align-middle active">CHF 400</td>
              </tr>
              <tr>
                <th scope="row" class="text-start">One-Day Conference Ticket</th>
                <td class="align-middle active">CHF 560</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-7 mx-auto">
              <div class="d-flex justify-content-center align-items-center">
                <a class="btn btn-primary btn-lg" href="/tickets.html">Book a ticket</a>
              </div>
          </div>
        </div>
      
  </div>
</section>