<div class="container py-0 py-lg-5">
    <div class="row mb-5">
        <div class="col-md-8">
            <span class="text-primary text-uppercase fw-bold mb-2 d-inline-block">{{ site.data.conference.schedule-subtitle }}</span>
            <h2 class="mb-4">{{ site.data.conference.schedule-title }}</h2>
            <p class="lead">{{ site.data.conference.schedule-description }}</p>
        </div>
        <div class="col-md-4">
            {% include _buy-ticket-button.html alignment="end" %}
        </div>
    </div>
</div>