<section id="speakers" class="pt-2">
    <div class="container py-0 py-lg-5">
        <div class="row mb-5">
            <div class="col-md-6">
                <span class="text-primary text-uppercase fw-bold mb-2 d-inline-block">{{ site.data.conference.speakers-subtitle }}</span>
                <h2 class="mb-4">{{ site.data.conference.speakers-title }}</h2>
                <p class="lead">{{ site.data.conference.speakers-description }}</p>
            </div>

        </div>
        <div class="row">
            {% for speaker in site.data.schedule.speakers %}
            <div class="col-md-6 col-lg-3 mb-5 aos-animate" data-aos="fade-in">
                <div class="item-team">
                    <div class="image-avatar mb-3">
                        <div class="image-gradient"></div>
                        <img class="img-fluid mb-" src="{{ speaker.image | relative_url}}" alt="">
                    </div>

                    <h5>{{ speaker.name }}</h5>
                    <p>{{ speaker.position }}</p>
                    {% assign talk = site.data.schedule.talks-2025 | where: "speaker", speaker.name | first %}
                    <a href="{{ talk.url | relative_url}}" class="d-block mb-4">{{ talk.title }} </a>
                    <ul class="d-flex list-unstyled">
                        {% if speaker.linkedin != null %}
                        <li class="me-2">
                            <a href="{{ speaker.linkedin }}" target="_blank" rel="noopener noreferrer"><img class="icon-social"
                                    src="{{ site.baseurl }}/img/assets/icon-linkedin.svg" alt=""></a>
                        </li>
                        {% endif %}
                        {% if speaker.twitter != null %}
                        <li class="me-2">
                            <a href="{{ speaker.twitter }}" target="_blank" rel="noopener noreferrer"><img class="icon-social"
                                    src="{{ site.baseurl }}/img/assets/icon-twitter-red.svg" alt=""></a>
                        </li>
                        {% endif %}
                        {% if speaker.github != null %}
                        <li class="me-2">
                            <a href="{{ speaker.github }}" target="_blank" rel="noopener noreferrer"><img class="icon-social"
                                    src="{{ site.baseurl }}/img/assets/icon-github.svg" alt=""></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
