@import url("variables.css");
@import url("newsletter.css");
@import url("widget.css");

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  font-family: var(--font-primary);
  color: var(--text-color);
  padding: var(--body-padding);
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main article {
  max-width: 100%;
  box-sizing: border-box;
}

.title {
  max-width: 600px;
  height: auto;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-image) center/cover no-repeat;
  z-index: -1;
}


.block {
  display: block;
  text-align: left;
}

p {
  font-size: var(--font-size-large);
  margin: var(--spacing-small) 0;
}

.widget-section {
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
}

footer {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer p {
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing-small);
}

@media screen and (max-width: 680px) {

  main {
    justify-content: center;
  }

  .widget-section {
    max-width: 450px;
  }

  footer {
    justify-content: center;
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-small);
}

.social-icons a img {
  width: 32px;
  height: 32px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
  opacity: 0;
}

.follow-text {
  color: #fff;
}

.get-in-touch {
  text-decoration: none;
  color: #dd3333;
}